:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #fff2d1;
    --logo-color: #ffa726;
    --font-main: 'Roboto', sans-serif;
    --spacing-base: 16px;
  }
  