
.form-input[rows] {
  font-family: inherit;
  resize: vertical;
}

.housing-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* opcjonalnie – odstęp między polami */
}

.housing-grid form-label {
  font-size: 1rem;
  font-weight: 600;
  color: #4A5568;
  margin-bottom: 0.1rem !important;
  
}
.housing-grid form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* opcjonalnie – odstęp między etykietą a polem */
    }